<div class="modal fade telenor-popup" id="myModal" tabindex="-1" role="dialog" aria-hidden="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12">
            <h4>Disclaimer</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            By participating in this activity and positing your #KaroMumkin story, you are giving your explicit consent to Telenor Pakistan to display your social media profile picture and story on this site and feature your photo and story on promotional material for this campaign.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade telenor-popup" id="rules-regulations" tabindex="-1" role="dialog" aria-hidden="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12">
            <h4>Rules & Regulations</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <strong>Details of the Activity:</strong>
            <ul>
              <li>Your Karo Mumkin stories will be featured on our website and you can see your photo become part of our defining symbol, the propeller.</li>
              <li>Use the hashtag #KaroMumkin with your stories in order to submit them</li>
              <li>You can contribute your Karo Mumkin stories using both Twitter and Facebook (refer below for more details on this)</li>
              <li>Your story should be about your Karo Mumkin moment - any achievement, memory, milestone or struggle you overcame and would like to share with us</li>
              <li>For every such story you share, Telenor Pakistan will pledge a donation to the SOS Children’s Villages</li>
	      <li>To find out more about the SOS Village visit their website at <a target="_blank" href="http://www.sos.org.pk/">http://www.sos.org.pk/</a></li>
              <li>Users attempting to spam the site will be blocked. Posts on topics other than #KaroMumkin will not be approved for participation.</li>
              <li>The activity will be moderated from 10AM – 10PM. Posts made after 10PM will be visible on the site the next morning.</li>
            </ul>
            <hr/>

            <strong>How to participate using Facebook</strong>
            <ul>
              <li>Visit karomumkin.telenor.com.pk</li>
              <li>Select ‘Post via Facebook’</li>
              <li>If you are not logged in, enter your Facebook credentials to log in </li>
              <li>Write your story in the Facebook window that opens next</li>
              <li>Select ‘Post to Public’ from the drop down list next to post button (only posts will be picked up by the Donation Counter)</li>
              <li>Click on ‘Post’ to submit your story</li>
            </ul>
            <hr/>

            <strong>How to participate using Twitter</strong>
            <ul>
              <li>Visit karomumkin.telenor.com.pk</li>
              <li>Select ‘Post via Twitter’</li>
              <li>Sign in with your Twitter details</li>
              <li>Once signed in you can post your story directly in the text box provided</li>
              <li>Click on Post to submit your story</li>
            </ul>
            <hr/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<a href="#" data-toggle="modal" data-target="#post-sent-modal" id="post-sent-confirmation" style="display:none;">Post Sent</a>
<div class="modal fade telenor-popup" id="post-sent-modal" tabindex="-1" role="dialog" aria-hidden="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12">
            <h4>YAY!</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-5">
            Your post has been sent
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<a href="#" data-toggle="modal" data-target="#post-not-sent-modal" id="post-not-sent"  style="display:none;">Post Sent</a>
<div class="modal fade telenor-popup" id="post-not-sent-modal" tabindex="-1" role="dialog" aria-hidden="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12">
            <h4>SORRY!</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            Your post could not be sent at this time. Please try again.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<a href="#" data-toggle="modal" data-target="#post-too-big-modal" id="post-too-big" style="display:none;">Post Sent</a>
<div class="modal fade telenor-popup" id="post-too-big-modal" tabindex="-1" role="dialog" aria-hidden="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12">
            <h4>SORRY!</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            Your tweet cannot contain more than 140 characters.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<a href="#" data-toggle="modal" data-target="#subscription-successful-modal" id="subscription-successful" style="display:none;">Post Sent</a>
<div class="modal fade telenor-popup" id="subscription-successful-modal" tabindex="-1" role="dialog" aria-hidden="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12">
            <h4>YAY!</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            You have subscribed successfully. We will notify you when the activity starts.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<a href="#" data-toggle="modal" data-target="#subscription-failed-modal" id="subscription-failed" style="display:none;">Post Sent</a>
<div class="modal fade telenor-popup" id="subscription-failed-modal" tabindex="-1" role="dialog" aria-hidden="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12">
            <h4>SORRY!</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12" id="subscription-failed-msg">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<a href="#" data-toggle="modal" data-target="#app-paused-modal" id="app-paused" style="display:none;">Post Sent</a>
<div class="modal fade telenor-popup" id="app-paused-modal" tabindex="-1" role="dialog" aria-hidden="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12">
            <h4>Hi!</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            Dear Participant, please note that #KaroMumkin stories submitted after 10PM will be displayed on the site after 10AM tomorrow.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<a href="#" data-toggle="modal" data-target="#full-story-modal" id="full-story" style="display:none;">Post Sent</a>
<div class="modal fade telenor-popup" id="full-story-modal" tabindex="-1" role="dialog" aria-hidden="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12">
            <h4>Full Story</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12" id="full-story-content">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<a href="#" data-toggle="modal" data-target="#app-inactive-modal" id="app-inactive" style="display:none;">Post Sent</a>
<div class="modal fade telenor-popup" id="app-inactive-modal" tabindex="-1" role="dialog" aria-hidden="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12">
            <h4>Hi!</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            Thanks for your interest in taking part in #KaroMumkin stories! Kindly submit your email address below and we will notify you as soon as the activity goes live.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
