<div class="container subscribe">
  <h2 class="text-center">
    Subscribe Here
  </h2>
  <div class="row">
    <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12 center-block">
      <div class="form">
        <div class="form-group col-xs-12">
          <!-- <label for="inputName" class="col-sm-2 col-xs-2 control-label">
            Name
          </label> -->
          <div class="col-xs-12">
            <input type="text" name="name" class="form-control" id="subscription-name" placeholder="Name">
          </div>
        </div>
        <div class="form-group col-xs-12">
          <!-- <label for="emailadd" class="col-sm-2 col-xs-2 control-label">
            Email
          </label> -->
          <div class="col-xs-12">
            <input type="email" name="email" class="form-control" id="subscription-email" placeholder="Email">
          </div>
        </div>
        <div class="form-group col-xs-12">
          <input id="subscription-submit" name="submit" type="button" value="Subscribe" class="btn btn-default">
        </div>
        <div class="form-group col-xs-12">
          <div class="col-sm-10 col-sm-offset-2">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function() {
      $("#app-inactive").click();
      });
    </script>
