<script>
  var current_page = 1;
  var app_status = "<%= AppStatus.current_status.running %>";
  $(document).ready(function() {
    if(app_status == "paused") {
      $("#app-paused").click();
    }
  });
</script>
<div class="main-container">
  <div class="counter-option1 ">
    <div class="counter">
      <div class="counter-bg">
        <h2>Donation Counter</h2>
        <h3>Rs <span id="donation-raised"><%= number_with_delimiter(@donation_factor.factor * @posts_count) %></span></h3>
      </div>
    </div>
  </div>
  <div class="left">
    <div id="approved-posts">
      <%= render :partial => "posts/approved" %>
    </div>
    <div class="post-to-win">
      <div class="leftwin">
        <div>
          <% if user_signed_in? and current_user.has_twitter_identity? %>
            <a class="twitter-post twitter-bg" href="#" id="post-to-twitter">
              <%= image_tag "social/twitter-white.png" %>
              <h2>Post via Twitter</h2>
            </a>
            <textarea name="typetopost" placeholder="Type to Post" maxlength="140" id="tweet-box"></textarea>
          <% else %>
            <a class="twitter-post twitter-bg" href="<%= user_omniauth_authorize_path(:twitter) %>">
              <%= image_tag "social/twitter-white.png" %>
              <h2>Post via Twitter</h2>
            </a>
          <% end %>
        </div>
      </div>
      <div class="border">
        <h2>OR</h2>
      </div>
      <div class="rightwin">
        <% if user_signed_in? and current_user.has_facebook_identity? %>
          <a class="facebook-post facebook-bg" href="#" id="post-to-facebook">
            <%= image_tag "social/facebook-white.png" %>
            <h2>Post via Facebook</h2>
          </a>
        <% else %>
          <a class="facebook-post facebook-bg" href="<%= user_omniauth_authorize_path(:facebook) %>">
            <%= image_tag "social/facebook-white.png" %>
            <h2>Post via Facebook</h2>
          </a>
        <% end %>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="right">
    <div class="logo-fill">
      <div class="containerimg container paddingzero">
        <div class="col-xs-12 paddingzero topright" id="propeller-pics">
          <%= render :partial => "posts/pics" %>
        </div>
        <div class="logo-fill-bg"></div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</div>

