<div id="posts" style="padding-top: 80px;">
  <table class="table table-bordered posts-table">
    <% @posts.each do |post| %>
      <tr id="post-<%= post.id %>">
        <td><%= post.user_name %></td>
        <td><%= post.content %></td>
        <td><%= post.provider %></td>
      </tr>
    <% end %>
  </table>
</div>
<%= will_paginate @posts %>
