<div style="padding-top: 50px;">
  <table style="width: 100%; text-align: center;" class="emails-table">
    <tbody>
      <tr>
        <td><h3>Donation per post</h3></td>
      </tr>
      <tr>
        <td>Rs. <input id="factor" name="factor" style="width: 60px;" value="<%= DonationFactor.donation_per_post.factor %>" /></td>
      </tr>
      <tr>
        <td><a href="#" id="update-factor">Update</a></td>
      </tr>
    </tbody>
  </table>
</div>

<div style="padding-top: 50px;">
  <div class="row">
    <div class="col-xs-5"></div>
    <div class="col-xs-2">App is currently <strong><%= AppStatus.current_status.running.upcase %></strong></div>
    <div class="col-xs-5"></div>
  </div>
  <div class="row">
    <% if AppStatus.current_status.running == "paused" %>
      <div class="col-xs-5"></div>
      <div class="col-xs-1"><a href="/admin/posts/status?status=active">Activate</a></div>
      <div class="col-xs-1"><a href="/admin/posts/status?status=inactive">Inactivate</a></div>
      <div class="col-xs-5"></div>
    <% elsif AppStatus.current_status.running == "active" %>
      <div class="col-xs-5"></div>
      <div class="col-xs-1"><a href="/admin/posts/status?status=paused">Pause</a></div>
      <div class="col-xs-1"><a href="/admin/posts/status?status=inactive">Inactivate</a></div>
      <div class="col-xs-5"></div>
    <% else %>
      <div class="col-xs-5"></div>
      <div class="col-xs-2"><a href="/admin/posts/status?status=active">Activate</a></div>
      <div class="col-xs-5"></div>
    <% end %>
  </div>
</div>

<div style="padding-top: 50px;">
  <div class="row">
    <div class="col-xs-5"></div>
    <div class="col-xs-2"><strong><a href="/admin/posts/reminder_email">Send reminder e-mail</a></strong></div>
    <div class="col-xs-5"></div>
  </div>
</div>

<div style="padding-top: 50px;">
  <div class="row">
    <div class="col-xs-5"></div>
    <div class="col-xs-2"><strong><a href="<%= download_admin_posts_path :format => 'csv' %>">Download Posts</a></strong></div>
    <div class="col-xs-5"></div>
  </div>
</div>
