<% content_for :head do %>
  <script>
    var last_id = null;
  </script>
<% end %>
<div id="posts" style="padding-top: 80px;">
  <table class="table table-bordered posts-table">
    <% @posts.each do |post| %>
      <tr id="post-<%= post.id %>">
        <td><%= post.user_name %></td>
        <td><%= post.content %></td>
        <td><a href="#" class="approve-post" data-id="<%= post.id %>">Approve</a></td>
        <td><a href="#" class="reject-post" data-id="<%= post.id %>">Reject</a></td>
        <td><%= post.provider %></td>
      </tr>
      <script>last_id = <%= post.id %>;</script>
    <% end %>
  </table>
</div>
