<div id="subscriptions" style="padding-top: 80px;">
  <table class="table table-bordered posts-table">
    <% @subscriptions.each do |s| %>
      <tr>
        <td><%= s.name %></td>
        <td><%= s.email %></td>
      </tr>
    <% end %>
  </table>
</div>
<%= will_paginate @subscriptions %>
