<p>Dear Participant,</p>
 
<p>Telenor’s journey in Pakistan began in 2005, and this year, we mark our 10th anniversary – 10 years of enriching lives and empowering our customers for a successful future.</p>
 
<p>Visit <a href="http://karomumkin.telenor.com.pk/">http://karomumkin.telenor.com.pk/</a> now to share your Karo Mumkin stories, and for every such story shared, Telenor Pakistan will be donating to the SOS Children’s Villages. Help us contribute to the provision of shelter, security and education to the deserving children of Pakistan, and take our efforts towards nurturing an empowered society one step further.</p>
 
<p>Cheers to every Pakistani’s Karo Mumkin spirit!</p>
 
<p>Best Regards,</p>
<p>Telenor Pakistan</p>
