<div id="containerL" class="js-masonry">
  <% @posts.each do |post| %>
    <div class="item telenor-post" data-post_id="<%= post.id %>" title='<%= post.content %>'>
      <div class="col-xs-12 paddingzero post">
        <div class="col-xs-12 paddingzero post-logo">
          <%= image_tag "#{post.provider}.png" %>
        </div>
        <div class="col-xs-12 post-content">
          <p><%= truncate(post.content, length: 140) %></p>
        </div>
        <div class="col-xs-12 post-date">
          <p><%= (post.created_at + 5.hours).strftime("%b %d, %Y %H:%M") %></p>
        </div>
        <div class="col-xs-12 gray-tint">
          <div class="profile-specs">
            <div class="profile-img" style="background:url('<%= post.profile_pic %>');"></div>
            <div class="profile-name">
              <h2><%= post.user_name %></h2>
              <h3>@<%= post.screen_name %></h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div class="pagination">
  <div>
    <a href="#" data-page="<%= @page - 1 %>" class="pagination-link"><%= image_tag "arrow/prev.png" %></a>
  </div>
  <div>
    <a href="#" data-page="<%= @page + 1 %>" class="pagination-link"><%= image_tag "arrow/next.png" %></a>
  </div>
</div>
