<% i = 0 %>
<% while i < 672 and @pics.count > 0 %>
  <% @pics.each do |pic| %>
    <% if i < 672 %>
      <div style="background:url('<%= pic.first %>');" title="<%= pic.last %>"></div>
      <% i+= 1 %>
    <% end %>
  <% end %>
<% end %>
