.subscribe {
  margin-top: 30px; }
  .subscribe h2 {
    color: #fff;
    margin-bottom: 30px; }
  .subscribe > div > div {
    float: none; }
  .subscribe .control-label {
    color: #fff;
    font-weight: 300;
    padding: 0px;
    margin-top: 8px;
    text-align: left; }
  .subscribe .form-control {
    border: none;
    border-radius: 0px;
    box-shadow: none;
    background: #fff;
    font-size: 20px;
    padding: 30px 10px;
    margin-bottom: 20px; }
  .subscribe .btn {
    width: 150px;
    height: 50px;
    border-radius: 0px;
    border: 0px;
    margin: 0 auto;
    display: block;
    background-color: #a61766;
    color: #fff;
    font-size: 20px; }
  .subscribe .form-control::-webkit-input-placeholder {
    color: #606060; }
  .subscribe .form-control:-moz-placeholder {
    color: #606060; }
  .subscribe .form-control::-moz-placeholder {
    color: #606060; }
  .subscribe .form-control:-ms-input-placeholder {
    color: #606060; }





.darkgray-bg {
  background: #606060; }

.lightgray-bg {
  background: #fbfbfb; }

.twitter-bg {
  background: #00b4ff; }

.facebook-bg {
  background: #3b5998; }

.black-bg {
  background: #000; }

.gray-tint {
  background: #ecf6f5; }

.blue-gradient {
  background: #365faa;
  /* Old browsers */
  background: -moz-linear-gradient(left, #365faa 28%, #00ace7 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(28%, #365faa), color-stop(100%, #00ace7));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #365faa 28%, #00ace7 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #365faa 28%, #00ace7 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #365faa 28%, #00ace7 100%);
  /* IE10+ */
  background: linear-gradient(to right, #365faa 28%, #00ace7 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#365faa', endColorstr='#00ace7',GradientType=1 );
  /* IE6-9 */ }

body, html {
  height: 100%; }

h1, h2, h3, p, a, input {
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased !important; }

.clearfix {
  clear: both; }

.paddingzero {
  padding: 0px; }

.main-container {
  background: url(<%= asset_path 'mesh/slash.png' %>);
  background-size: 30%; }

#containerL {
  padding-bottom: 30px; }

.item {
  width: 50%;
  padding: 10px; }

.left {
  width: 60%;
  float: left;
  padding-top: 20px; }

.right {
  width: 40%;
  float: right; }

.banner img {
  width: 100%; }

.pagination {
  width: 120px;
  margin: 0 auto;
  display: block;
  margin-bottom: 30px; }
  .pagination > div {
    margin-right: 5px;
    display: inline-block; }
    .pagination > div a {
      text-decoration: none; }
      .pagination > div a img {
        width: 50px; }

.post-to-win textarea {
  width: 95%;
  height: 120px;
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 10px;
  border: 2px solid gray;
  margin-left: 10px;
  margin-bottom: 10px;
}
.post-to-win .leftwin {
  width: 40%;
  float: left; }
  .post-to-win .leftwin > div a {
    display: block;
    width: 205px;
    padding: 10px;
    margin: 0 auto;
    margin-bottom: 10px; }
    .post-to-win .leftwin > div a img {
      display: inline-block;
      height: 40px; }
    .post-to-win .leftwin > div a h2 {
      display: inline-block;
      color: #fff;
      font-size: 16px;
      margin: 0px;
      margin-top: 5px;
      margin-left: 5px; }
.post-to-win .border {
  float: left;
  width: 18%;
  text-align: center; }
  .post-to-win .border h2 {
    color: #fff;
    margin-top: 15px; }
.post-to-win .rightwin {
  width: 40%;
  float: left;
  height: 150px;
  position: relative; }
  .post-to-win .rightwin a {
    display: block;
    width: 215px;
    padding: 10px;
    margin: 0 auto;
    margin-bottom: 10px; }
    .post-to-win .rightwin a img {
      display: inline-block;
      height: 40px; }
    .post-to-win .rightwin a h2 {
      display: inline-block;
      color: #fff;
      font-size: 16px;
      margin: 0px;
      margin-top: 5px;
      margin-left: 5px; }

.navigation {
  position: absolute;
  z-index: 1;
  width: 100%;
  overflow: hidden; }
  .navigation .navbar-brand {
    background: url(<%= asset_path 'logo.png' %>);
    background-size: cover;
    background-repeat: no-repeat;
    text-indent: -9999999px;
    width: 150px;
    height: 66px; }
  .navigation .navbar {
    margin-bottom: 0px;
    background-color: transparent;
    border-color: transparent; }
    .navigation .navbar .navbar-header {
      padding: 20px; }
    .navigation .navbar .navbar-collapse .nav {
      background: url(<%= asset_path 'mesh/Mesh2.png' %>);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      width: 80%; }
      .navigation .navbar .navbar-collapse .nav li a {
        padding: 30px 30px;
        color: #fff;
        font-size: 16px;
        font-weight: bold; }
  .navigation .navbar-default .navbar-nav > li > a:focus,
  .navigation .navbar-default .navbar-nav > li > a:hover {
    background: #0168b5; }
  .navigation .navbar-default .navbar-nav > .active > a,
  .navigation .navbar-default .navbar-nav > .active > a:focus,
  .navigation .navbar-default .navbar-nav > .active > a:hover {
    background: #0168b5; }

.containercounter {
  padding-top: 30px;
  padding-bottom: 30px;
  background: url(<%= asset_path 'mesh/Mesh2.png' %>);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }
  .containercounter .counter {
    margin: 0 auto; }
    .containercounter .counter h2 {
      font-size: 30px;
      text-align: center; }
    .containercounter .counter h3 {
      font-size: 30px;
      text-align: center; }
      .containercounter .counter h3 span {
        color: #fff;
        font-size: 40px; }

.counter-option1 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 30px;
  float: right;
  width: 40%; }
  .counter-option1 .counter {
    background: #a61766;
    margin: 0 auto;
    width: 450px; }
  .counter-option1 .counter-bg {
    background: url(<%= asset_path 'mesh/slash.png' %>);
    background-size: 100%;
    padding: 30px 0px; }
  .counter-option1 h2 {
    color: #fff;
    font-size: 30px;
    text-align: center;
    margin: 0px; }
  .counter-option1 h3 {
    color: #fff;
    font-size: 20px;
    text-align: center;
    margin: 0px;
    margin-top: 10px; }
    .counter-option1 h3 span {
      font-size: 50px;
      font-weight: bold; }

.logo-fill {
  position: relative;
  margin-top: 10px;
  margin-bottom: 20px; }
  .logo-fill .containerimg {
    width: 450px;
    height: 455px;
    position: relative;
    margin-top: 30px;
    border-radius: 35px;
    overflow: hidden; }
    .logo-fill .containerimg > div {
      overflow: hidden; }
      .logo-fill .containerimg > div > div {
        background-size: cover !important;
        background-position: center;
        background-repeat: no-repeat;
        width: 25px;
        height: 20px;
        float: right; }
  .logo-fill .logo-fill-bg {
    background: url(<%= asset_path 'telenor-fill.png' %>);
    background-size: contain;
    width: 100%;
    height: 455px !important;
    position: absolute;
    opacity: 0.9;
    background-repeat: no-repeat; }

.profile-img {
  width: 50px;
  height: 50px;
  display: inline-block;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.profile-name {
  display: inline-block;
  margin-left: 5px; }
  .profile-name h2 {
    display: inline-block;
    margin: 0px;
    font-weight: normal; }
  .profile-name h3 {
    margin: 0px;
    font-weight: normal; }
  .profile-name img {
    display: inline-block;
    width: 22px;
    margin-left: 5px;
    margin-top: -10px; }
  .profile-name .facebook-logo {
    margin-left: 0px !important; }

.post {
  background: #fff; }
  .post .post-logo {
    margin-top: 10px;
    margin-bottom: 5px; }
    .post .post-logo img {
      margin: 0 auto;
      display: block; }
  .post .post-content p {
    text-align: center;
    font-size: 16px;
    width: 80%;
    margin: 0 auto; }
  .post .post-date {
    margin-top: 10px;
    margin-bottom: 5px; }
    .post .post-date p {
      margin: 0 auto;
      font-size: 10px;
      font-weight: bold;
      margin-left: 3px; }
  .post .profile-specs {
    padding: 5px 0px; }
    .post .profile-specs .profile-img {
      width: 30px;
      height: 30px;
      display: inline-block;
      background-size: cover !important;
      background-position: center;
      background-repeat: no-repeat; }
    .post .profile-specs .profile-name h2 {
      font-size: 14px;
      font-weight: bold; }
    .post .profile-specs .profile-name h3 {
      font-size: 13px; }

.date-posted h4 {
  font-weight: normal;
  font-size: 16px; }

.telenor-popup .modal-dialog {
  z-index: 111; }
.telenor-popup .modal-content {
  background-color: #00aeef; }
  .telenor-popup .modal-content .modal-header {
    border-bottom: 0px; }
    .telenor-popup .modal-content .modal-header h4 {
      background: url(<%= asset_path 'logo-white.png' %>);
      background-size: contain;
      background-repeat: no-repeat;
      text-indent: -9999999px;
      padding: 20px; }
  .telenor-popup .modal-content .modal-body h1, .telenor-popup .modal-content .modal-body h2, .telenor-popup .modal-content .modal-body h3, .telenor-popup .modal-content .modal-body h4, .telenor-popup .modal-content .modal-body h5, .telenor-popup .modal-content .modal-body h6, .telenor-popup .modal-content .modal-body p, .telenor-popup .modal-content .modal-body a {
    color: #fff; }
  .telenor-popup .modal-content .modal-body p {
    font-size: 16px; }

.content {
  border-radius: 10px;
  padding: 10px; }
  .content h2 {
    color: #fff;
    margin: 0px; }
  .content a {
    color: #fff; }
  .content a:hover {
    color: #000; }

.footer {
  position: relative;
  border-top: 3px solid #fff; }
  .footer .telenor-logo {
    position: absolute;
    top: 50%;
    margin-top: -33px;
    display: block; }
    .footer .telenor-logo img {
      width: 150px; }
  .footer .social-links-footer {
    width: 180px;
    margin: 0 auto;
    margin-top: 30px; }
    .footer .social-links-footer a img {
      width: 80px; }
    .footer .social-links-footer a:hover {
      opacity: .8; }
    .footer .social-links-footer .facebook {
      margin-right: 10px; }
  .footer .footer-links {
    width: 290px;
    margin: 30px auto; }
    .footer .footer-links ul {
      list-style-type: none;
      padding: 0px; }
      .footer .footer-links ul li {
        display: inline-block; }
        .footer .footer-links ul li a {
          color: #fff;
          font-size: 14px;
          padding: 5px; }

@media only screen and (min-width: 991px) and (max-width: 1150px) {
  .left {
    width: 100%;
    float: none; }

  .right {
    width: 100%;
    float: none; }

  .counter-option1 {
    float: none;
    margin-top: 0px;
    margin: 0 auto; }

  .item {
    width: 33.33%;
    padding: 10px; } }
@media only screen and (min-width: 991px) and (max-width: 1070px) {
  .item {
    width: 50%;
    padding: 10px; }

  .counter-option1 {
    float: none;
    margin-top: 0px;
    margin: 0 auto; } }
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .left {
    width: 100%;
    float: none; }

  .right {
    width: 100%;
    float: none; }

  .item {
    width: 100%;
    padding: 10px; }

  .counter-option1 {
    float: none;
    margin-top: 0px;
    margin: 0 auto; }
}
@media only screen and (max-width: 767px) {
  .navigation .navbar .navbar-collapse .nav {
    width: 100%; }

  .navbar-nav {
    margin: 0px; }
  .navigation .navbar-brand {
        width: 91px;
            height: 40px; }

  .left {
    width: 100%;
    float: none; }

  .right {
    width: 100%;
    float: none; }

  .item {
    width: 100%;
    padding: 10px; }

  .counter-option1 {
    float: none;
    margin-top: 0px;
    margin: 0 auto;
    width: 100%; }
    .counter-option1 .counter {
      width: 100%; }

  .post-to-win .leftwin {
    width: 100%;
    float: none; }
  .post-to-win .rightwin {
    width: 100%;
    float: none; }
  .post-to-win .border {
    float: none;
    width: 100%; }
    .post-to-win .border h2 {
      text-align: center; }

  .footer .telenor-logo {
    position: relative;
    top: 0px;
    margin-top: 20px; }
    .footer .telenor-logo img {
      margin: 0 auto;
      display: block; }

  .logo-fill .container {
    width: 300px;
    height: 303px; }
  .logo-fill .logo-fill-bg {
    width: 100%;
    height: 304px !important; } 
}
