<!DOCTYPE html>
<html>
  <head>
    <title>TelenorAnniversary</title>
    <%= stylesheet_link_tag    'admin', media: 'all' %>
    <%= javascript_include_tag 'admin' %>
    <%= csrf_meta_tags %>
    <%= yield :head %>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
    <!-- We use the fluid option here to avoid overriding the fixed width of a normal container within the narrow content columns. -->
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-6">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Brand</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
        <ul class="nav navbar-nav">
          <li><a href="/admin">Dashboard</a></li>
          <li><a href="/admin/posts">Posts</a></li>
          <li><a href="/admin/posts/approved">Approved</a></li>
          <li><a href="/admin/posts/rejected">Rejected</a></li>
          <li><a href="/admin/posts/subscriptions">Subscriptions</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div>
    </nav>

    <div class="container-fluid">
      <%= yield %>
    </div>

    <div class="container-fluid">
      <footer>
      <p>&copy; Company 2014</p>
      </footer>
    </div> <!-- /container -->

  </body>
</html>
