<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <meta name="author" content="TekStart">
    <title>Karo Mumkin - Telenor Anniversary App</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
    <%= csrf_meta_tags %>
    <script type="text/javascript">
      var container = document.querySelector('#containerL');
    </script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-58573279-1', 'auto');
      ga('send', 'pageview');
    </script>
  </head>

  <body class="blue-gradient">
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '368339490039445',
          xfbml      : true,
          version    : 'v2.3'
        });
      };

      (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
    <div class="navigation" style="display:none;">
      <nav class="navbar navbar-default">
      <div class="container-fluid paddingzero">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button style="display:none;" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://telenor.com.pk">Brand</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
      </nav>
    </div>
    <div class="banner">
      <img src="<%= asset_path 'banner/web.jpg'%>" data-small="<%= asset_path 'banner/mobile.jpg' %>" data-big="<%= asset_path 'banner/web.jpg'%>">
    </div>
    <%= yield %>
    <div class="footer">
      <div class="container">
        <div class="col-xs-12">
          <div class="social-links-footer">
            <a href="https://www.facebook.com/TelenorPk" class="facebook" target="_blank"><%= image_tag "social/facebook500.png" %></a>
            <a href="https://twitter.com/telenorpakistan" class="twitter" target="_blank"><%= image_tag "social/twitter.png" %></a>
          </div>
        </div>
        <div class="col-xs-12">
          <div class="footer-links">
            <ul>
              <li>
              <a href="#" data-toggle="modal" data-target="#myModal">Disclaimer</a>
              </li>
              <li>
              <a href="#" data-toggle="modal" data-target="#rules-regulations">Rules & Regulations</a>
              </li>
              <li>
              <a href="https://telenor.com.pk" target="_blank">Website</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <%= render :partial => "home/modals" %>
  </body>
</html>
